body{
    margin: 0;
    font-family:'Open Sans', sans-serif;
    display: flex;
    background-color: #FFF;
    flex-direction: row;
    height: 100vh; 
}

.usuario, .chat{
    border: 1px solid #E8EBE4;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 5px;
}

.boton{
    border: 1px solid #E8EBE4;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 5px;
}

.uno{
    justify-content: space-between;
}

.contactos{
    width: 350px;
    font-size: small;
}

.contactos img{
    border-radius: 50%;
    height: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

.boton{
    padding: 30px;
}

.button-box{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #A491D2;
    color: white;
    border: 0;
    font-size: medium;
}

.centro{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img img {
    width: 50%;
}
.card-text, .card-text2 {
    margin-top: 10px;
}

.card-text{
    font-size: 44px;
}